<ion-view view-title="Landlord Register" name="landlord-register-view">
  <ion-content class="padding">
      <div class="list list-inset" ng-init="registrationForm = {}">
          <label class="item item-input">
              <input type="text" placeholder="First name" ng-model="registrationForm.f_name">
          </label>
          <label class="item item-input">
              <input type="text" placeholder="Last name" ng-model="registrationForm.l_name">
          </label>
          <label class="item item-input">
              <input type="email" placeholder="Email" ng-model="registrationForm.email">
          </label>
          <label class="item item-input">
              <input type="password" placeholder="Password" ng-model="registrationForm.password">
          </label>
          <label class="item item-input">
              <input type="password" placeholder="Password Confirmation" ng-model="registrationForm.password_confirmation">
          </label>
      </div>
      <button class="button button-block button-calm" ng-click="handleRegBtnClick(registrationForm)">Register</button>
  </ion-content>
</ion-view>
