<ion-view view-title="Login" name="login-view" hide-tabs>
  <ion-content class="padding">
      <div class="list list-inset" ng-init="loginForm = {}">
          <label class="item item-input">
              <input type="email" placeholder="Email" ng-model="loginForm.email">
          </label>
          <label class="item item-input">
              <input type="password" placeholder="Password" ng-model="loginForm.password">
          </label>
      </div>
      <ion-radio ng-model="choice" ng-value="'tenant'">Tenant</ion-radio>
      <ion-radio ng-model="choice" ng-value="'landlord'">Landlord</ion-radio>

      <button class="button button-block button-calm" ng-click="handleLoginBtnClick(loginForm, choice)">Login</button>
      <button class="button button-block button-calm" ui-sref="register-choice">Register</button>
      <!-- <button class="button button-block button-calm" ui-sref="tenant.profile">Tenant</button> -->
      <button class="button button-block button-calm" ui-sref="tenant.profile">Tenant</button>
  </ion-content>
</ion-view>
