<ion-view view-title="Property Register" name="property-register-view">
  <ion-content class="padding">
      <div class="list list-inset" ng-init="registrationForm = {}">
          <label class="item item-input">
              <input type="text" placeholder="Address" ng-model="registrationForm.f_address">
          </label>
          <label class="item item-input">
              <input type="number" placeholder="Rent" ng-model="registrationForm.f_rent">
          </label>
          <label class="item item-input">
              <input type="number" placeholder="Number of Baths" ng-model="registrationForm.n_baths">
          </label>
          <label class="item item-input">
              <input type="text" placeholder="Rent Allowance" ng-model="registrationForm.rent_allowance">
          </label>
          <label class="item item-input">
              <input type="text" placeholder="PTRB" ng-model="registrationForm.ptrb">
          </label>
      </div>
      <button class="button button-block button-calm" ng-click="handleRegBtnClick(registrationForm)">Register</button>
  </ion-content>
</ion-view>