<ion-view view-title="Property Profile" name="property-profile">
  <ion-content class="padding">
    <div class="profile-card text-center">
    <img class="img" src="img/dublin_house.jpg">
            <div class="prop-profile-info">
              <h2 class="hvr-underline-from-center">{{ search.street }}, {{ search.town }}, {{ search.county }}<span>Rent: €{{ search.rent }}/m</span></h2>
              <div>
                <img id="toilet" src="img/toilet-50.png">{{ search.n_baths }}
                <img id="bed" src="img/bed-50.png">{{ search.avail_beds }}/{{ search.n_beds}}
              </div>
              <div>
                <p>
                  Rent Allowance: {{ search.rent_allowance }}
                </p>
                <p>
                  PTRB: {{ search.ptrb }}
                </p>
              </div>
            </div>
    </div>

    <button class="button button-block button-balanced" ng-click="sendReaction(true)">Approve</button>
    <button class="button button-block button-assertive" ng-click="sendReaction(false)">Reject</button>
    <button class="button button-block button-calm" ui-sref="search-settings">Change Search Settings</button>

  </ion-content>
</ion-view>
