<ion-view view-title="Search Settings" name="search-settings">
  <ion-content class="padding">
      <div class="list list-inset" ng-init="form = {}">
          <label class="item item-input">
              <input type="text" placeholder="Town" ng-model="form.town" required>
          </label>
          <label class="item item-input">
              <input type="text" placeholder="County" ng-model="form.county" required>
          </label>
          <label class="item item-input">
              <input type="number" placeholder="Rent" ng-model="form.rent" required>
          </label>
          <label class="item item-input">
              <input type="number" placeholder="Number of Beds" ng-model="form.n_beds" required>
          </label>
          <label class="item item-input">
              <input type="number" placeholder="Number of Baths" ng-model="form.n_baths" required>
          </label>
          <label class="item item-input">
              <ion-checkbox ng-model="form.rent_allowance" ng-value="'t'" required>Rent Allowance</ion-checkbox>
          </label>
          <label class="item item-input">
              <ion-checkbox ng-model="form.ptrb" ng-value="'t'" required>PTRB</ion-checkbox>
          </label>
      <button class="button button-block button-calm" ng-click="handleRegBtnClick(form)">Search</button>
      </div>
  </ion-content>
</ion-view>
