<ion-view view-title="Tenant Landlord Profile" name="tenant-landlord-profile">
  <ion-content class="padding">
        <div class="profile-card text-center">
        <img class="img" src="/img/cover.jpg">
                <div class="profile-info">
                  <img class="profile-pic" src="/img/profile.jpg">
                  <h2 class="hvr-underline-from-center">{{landlord.data.f_name}} {{landlord.data.l_name}}<span>{{landlord.data.email}}</span></h2>
                  <!-- above needs tweaking -->
                  <div>Test output {{landlord.data}}</div>
                  <a href="http://www.twitter.com"><i class="ion-social-twitter"></i></a>
                  <a href="mailto:burnsm3@tcd.ie"><i class="ion-ios-email"></i></a>
                  <a href="http://www.facebook.com"><i class="ion-social-facebook"></i></a>
                </div>
        </div>
   </ion-content>
</ion-view>
